.active{
    color: #1E1E1E;
    background-color: #FEC303;
    border-radius: 8px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    transition: all 0.3s ease-in-out;
}

.gallery-card-hostal{
    width: 52px;
    max-width: 52px;
    height: 36px;
    border-radius: 4px;
    object-fit: cover;
    margin: 4px;
}

header {
    z-index: 1000;
}

.z-1000 {
    z-index: 1000;
}

.z-100 {
    z-index: 100;
}

.active-btn{
    color: #1E1E1E;
    background-color: #FEC303;
}
#menu {
    overflow: hidden;
    display: flex;
    gap: 16px;
    flex-direction: row;
   transition: all 0.3s ease-in-out; 
}
#menu-toggle {
    width: 64px;
    height: 64px;
    font-size: 3em;
}

.inactive{
    color: #D9D9D9;
    border-radius: 8px;
    border: 3px solid #D9D9D9;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    transition: all 0.3s ease-in-out;
}

.icon-primary{
    color: #FEC303;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.icon-black{
    color: black;
    width: 58px;
    height: 58px;
    font-size: 2em;
}

.banner-main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1ecb;
    z-index: 1;
}
.banner-text{
    z-index: 100;
}
.border-secondary{
    border: 3px solid #FEC303;
    border-radius: 8px;
}
.border-tertiary{
    border: 3px solid #D9D9D9;
    border-radius: 8px;
}
.text-color-primary{
    color: #FEC303;
}
.text-color-secondary{
    color: #D9D9D9;
}
.bg-primary{
    background-color: #FEC303;
}
.bg-black{
    background-color: #1e1e1e;
}


.picture-colors img{
    border: 4px solid #FEC303;
    border-radius: 16px;
    height: 256px;
    object-fit: cover;
    margin-bottom: 16px;
}
.aventure-section{
    background-image: url(../images/aventure.webp);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #1e1e1ecb;
}
.week-section{
    background-image: url(../images/bg-week-1.webp);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #1e1e1ecb;
}

.new-programs-section{
    background-image: url(../images/newprograms.webp);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #1e1e1ecb;
}

.section-agency{
    background-image: url(../images/banner-agency3.webp);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #1e1e1ecb;
}

.day-active{
    background-color: #FEC303 !important;
    transition: all 0.5s ease-in-out;
}
.day-active p{
    overflow: hidden;
    height: auto;
    transition: all 0.5s ease-in-out;
}

.day-inactive{
    background-color: #FFFFFF !important;
    transition: all 0.5s ease-in-out;
}

.day-inactive p{

    overflow: hidden;
    height: 0;
    transition: all 0.5s ease-in-out;
}

.border-bottom-color-primary{
    border-color: #FEC303;
}
.bg-primary{
    background-color: #FEC303;
}

.legend{
    background-image: url(../images/bg-legend.webp);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #FEC303cb;
}
.bg-hostal{
    background-image: url(../images/aventure.webp);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #1e1e1ecb;
}

.bg-school{
    background-image: url(../images/newprograms.webp);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #D9D9D9cb;
}


.bg-agency{
    background-image: url(../images/bg-banner-agency.webp);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #1e1e1ecb;
    background-position: center;
}

.border-section{
    
    border-bottom: 8px solid #FEC303;
}

.bg-coffe{
    background-image: url(../images/bg-banner-coffee.webp);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #D9D9D9cb;
}


.picture-service img{
    
    border-radius: 16px;
    height: 256px;
    object-fit: cover;
    margin-bottom: 16px;
}
.stadistics{
    background-image: url(../images/bg-stadistics.webp);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #1e1e1efb;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
.no-scrollbar {
-ms-overflow-style: none;  /* IE y Edge */
scrollbar-width: none;     /* Firefox */
}

.bg-gallery{
    background-image: url(../images/bg-gallery.webp);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #1e1e1ecb;
}

#gallery-school{
    background-image: url(../images/newprograms.webp);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #1e1e1ecb;
}
.modal-gallery-thumbnails > img {
    width: 58px;
    height: 58px;
    margin: 0 4px;
    
}

.modal-gallery-thumbnails > img:hover {
    transform: scale(1.05);
}

#gallery-agency{
    background-image: url(../images/agency/horse2.webp);
}

#contactForm input[type="text"],
#contactForm select,
#contactForm textarea {
    background-color: #FFFFFF;
    border-bottom: 2px solid #1a1a1a;
}

.border-primary{
    border-color: #FEC303;
}
.border-r-primary
{
    border-right-color: #1e1e1e;
}

.border-l-primary
{
    border-left-color: #1e1e1e;
}

.group::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #facc15; /* Tailwind yellow-400 */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
    z-index: 0;
}

.group:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.group:not(:hover)::before {
    transform: scaleX(0);
    transform-origin: right;
}

.group > * {
    position: relative;
    z-index: 10;
}

.modal {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
/* media queries */
/* Mobile */
@media (max-width: 768px) {
    p,
    li,
    button {
        font-size: 1em;
    }
    #salar-uyuni, #campesino, #climbing, #horse, #minas, #walk {
        padding-left: 4px;
        padding-right: 4px;
    }

    .modal-title {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .modal-card{
        flex-direction: column-reverse;
        gap: 8px;
    }
    .modal-card > div,
    .modal-card > img{
        width: 100%;
    }   

    .subtitle-section {
        margin-top: 64px;
        
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .coffee{
        flex-direction: column;
    }

    .coffee p {
        text-align: center;

        width: 100%;
    }
    .coffee .img1 {
        width: 100%;
        height: 200px;
    }
    .coffee .img2  {
        width: 46%;
        height: 200px;
    }

    .coffee .img3{
        width: 46%;
        height: 200px;
    }

    .coffee .picture-service {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }
    .coffee .picture-service > div {
        height: 140px;
    }
    .school {
        flex-direction: column;
    }
    .contact{
        flex-direction: column;
        max-width: 80%;
    }

    .banner-iconos{
        justify-content: center;
        align-items: center;
    }

    .banner-iconos > span{
        width: 48px;
        height: 48px;
        font-size: 1.5em;
    }
    #description-school > h2,
    #description-hostal > h2,
    #description-coffee > h2,
    #description-agency > h2 {
        justify-content: center;
    }

    .stadistics > div {
        flex-direction: row;
        align-items: start;
    }

    .stadistics > div > span :nth-child(1) {
        font-size: 2em;
    }

    .stadistics > div > span > p {
        text-align: center;
        width: 100%;
    }
    .rewards {
        margin-top: 24px;
    }

    .quote {
        font-size: 2em !important ;
    }

    .content-banner{
        flex-direction: column-reverse;
    }

    .content-banner-school > p {
        font-size: 3.5em;
    }

    .content-banner-agency > div > img:nth-child(1),
    .content-banner-agency > div > img:nth-child(3) {
        display: none;
    }
    .content-banner-agency > div > img:nth-child(2) {
        width: 100%;
        height: 140px;
        margin: 0;
    }

    #school .school-info img {
        width: 40%;
        height: 125px;
        object-fit: cover;
        margin-bottom: 16px;
    }

    .plans-school div {
        margin-top: 8px;
        margin-bottom: 0px;
    }

    #school .school-info div p {
        font-size: .8em;
        padding-left:  32px;
        padding-right: 32px;
        padding-bottom: 8px;
        text-align: center;
    } 

    .content-banner-school span {
        font-size: 2em;
    }
    
    .school-banner {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4px;
    }

    .school-banner .image-banner-1 {
        width: 100%;
        height: 120px;
        margin: 0;
    }
    .school-banner .image-banner-2 {
       width: 48%;
        height: 100px;
        margin: 0;
    }
    .school-banner .image-banner-3 {
        width: 48%;
        height: 100px;
        margin: 0;
    }

    #new-program > div > span {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .activities-school {
        margin-bottom: 0px;
    }

    .activities-school div > img{
        width: 100%;
        height: 120px;
        object-fit: cover;
    }

    #banner {
        text-align: center;
    }
    .services-colors{
        margin-top: 32px;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 0;
    }

    .picture-colors img{
        width: 100%;
        height: 160px;
    }

    .picture-colors h3{
        text-align: center;
        font-size: 1em;
    }

    .picture-colors{
        width: 100%;
        margin: 0;
        padding: 0;   
    }

    .featured-rooms{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
    }

    .featured-rooms > div {
        width: 100%;
        height: 200px;
        margin: 0;
        overflow: hidden;
    }
    .featured-rooms img {
        height: 200px;
        object-fit: cover;
    }

    .featured-rooms > div:nth-child(2) {
        flex-direction: row-reverse;
    }

    .featured-rooms > div:nth-child(5) {
        flex-direction: row;
    }

    .shared-dorm > img:nth-child(1),
    .shared-dorm > img:nth-child(3) {
        display: none;
    }

    .shared-dorm > img:nth-child(2) {
        margin: 0;
    }
    .card-traveling {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-traveling > div:nth-child(2),
    .card-traveling > div:nth-child(3),
    .card-traveling > div:nth-child(6) {
        flex-direction: row-reverse;
    }



    .card-traveling > div > div > p {
        display: none;
    }
    .section-agency {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .section-agency > div > p:nth-child(1) {
        font-size: 3em;
        text-align: center;
    }

    .section-agency > div > div {
        width: 100%;
    }

    .section-agency > div > div > button {
        width: 50%;
    }

    #agency-contact > div:nth-child(2) > div:nth-child(1) {
        display: none;
    }

    .banner-coffee .content-banner{
        flex-direction: column;
    }
    .banner-coffee .content-banner > p:nth-child(1) {
        font-size: 3.5em;
        text-align: center;
    }

    #popular-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    #popular-menu > div {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    #popular-menu > div > img {
        width: 100%;
        height: 92px;
        object-fit: cover;
    }

    #popular-menu > div > div {
        padding: 4px;
    }

    #popular-menu > div > div > p{
        line-height: 1.2em;
        font-size: .8em;
    }

    #popular-menu > div > div > span{
        font-size: 1em;
    }

    #items-perks {
        margin-top: 32px;
        padding-top: 32px;
    }

    #items-perks > div {
        min-width: 160px;
        max-width: 160px;
        padding-bottom: 0px;
    }

    #items-perks > div > h3 {
        font-size: 1em;
    }

    #items-perks > div > p {
        font-size: 2em;
        text-align: center;
    }

    h2{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5em;
    }
    .week-items{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .week-items span{
        font-size: 1em;
    }

    .week-items p{
        font-size: .8em;
    }

    .week-items div{
        text-align: center;
        width: 100%;
    }

    #image-week{
        width: 100%;
        height: 200px;
        margin: 0;
        max-width: 100%;
        
    }

    #image-week img{
        margin: 0;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    #week-image-2{
        display: none;
    }
    .image-activities{
        display: flex;
        flex-direction: column;
    }

    .image-activities > div{
        height: 180px;
    }

    .image-activities > div > div{
        font-size: 1em;
    }

    #hostal {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
        padding-top: 64px;
        padding-bottom: 64px;
    }
    #coffee,
    #agency,
    #school {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    #agency > div > div,
    #hostal > div > div {
        justify-content: center;
        align-items: center;
    }

    .btn-more-info{
        margin-top: 4px;
    }
    .hostal-service {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .hostal-service > div {
        
        height: 120px;
    }

    .description-coffee h2 {
        font-size: 1.5em;
        text-align: start;
    }

    .description-coffee p {
        font-size: 1em;
        text-align: justify;
    }

    .hiking-service {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .hiking-service :nth-child(1){
        width: 100%;
        height: 140px;
        margin: 0;
    }
    .hiking-service :nth-child(2){
        width: 47%;
        height: 140px;
        margin: 0;
    }
    .hiking-service :nth-child(3){
        width: 47%;
        height: 140px;
        margin: 0;
    }

    .hiking-service button,
    .school-service button
    {
        max-width: 50%;
        max-height: 36px;
    }

    .school-service {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .school-service :nth-child(1){
        width: 100%;
        height: 140px;
        margin: 0;
    }

    .school-service :nth-child(2){
        width: 47%;
        height: 140px;
        margin: 0;
    }

    .school-service :nth-child(3){
        width: 47%;
        height: 140px;
        margin: 0;
    }

    .gallery-content {
        height: auto;
        max-width: 100vw;
        overflow: hidden;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 120px);
    }

    .gallery-content img{
        height: 120px;
        min-height: 120px;
        max-height: 20px;
    }
    
    .gallery-content :nth-child(1) {
        grid-area: 1 / 1 / 2 / 3;
    }

    .gallery-content :nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
    }

    .gallery-content :nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;
    }

    .gallery-content :nth-child(4) {
        
        grid-area: 3 / 1 / 4 / 3;
    }

    .gallery-content :nth-child(5){
        grid-area: 4 / 1 / 5 / 2;
    } 
    .gallery-content :nth-child(6) {
        grid-area: 4 / 2 / 5 / 3;
    }

    .contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact iframe {
        width: 100%;
        height: 320px;
    }

    .contact>div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #menu {
        display: none ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
    }
    #menu a {
        font-size: 1.5em;
        margin: 8px 0;
    }
    #week,
    #banner-main
    {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
    }
    #description-school h2,
    #description-hostal h2,
    #description-coffee h2,
    #description-agency h2
    {
        width: 100%;
        text-align: center;
    }

    #banner-main h2{
        text-align: center;
    }
    #description-text-school,
    #school p,
    li,
    footer > div > a{
        font-size: 1em;
    }
    
    #new-program{
        padding: 16px;
    }
    #chat-hint {
        font-size: .7em ;
    }

    .btn-close{
        /* background-color: #1e1e1e; */
        top: 120px;
        right: 0;
    }

    #price-modal{
        padding: 4px 16px;
        bottom: 18px;
    }

    #price-modal{
        bottom: 0;
        right:  calc(50% - 100px);
    }
}